# This is Git's per-user configuration file.

## Color-coding the CL output of Git:
[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

## User specific commit tags for git ##
[user]
        name = First Lastname - ClusterName
        email = user@example.com
[core]
        autocrlf = input
        editor = vi
[credential]
    helper = cache --timeout=3600
